.caracteristicas {
    padding: 80px 0;
    background: white;
}

.caracteristicas .container {
    display: flex;
    justify-content: space-between;
}

.caracteristica {
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
}

.circulo-amarillo {
    width: 64px;
    height: 64px;
    background: #f5a623;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.circulo-amarillo i {
    color: white;
    font-size: 32px;
}

.caracteristica h3 {
    line-height: 30px;
    font-weight: 700;
    font-size: 17px;
    color: #1F365C;
    margin-bottom: 10px;
    white-space: nowrap;
}

.caracteristica p {
    line-height: 23px;
    font-size: 15px;
    color: #8C95A2;
}

@media (max-width: 900px) {
    .caracteristicas .container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    
    .caracteristica {
        width: 45%;
    }
}

@media (max-width: 600px) {
    .caracteristica {
        width: 100%;
    }
}



.listado {
    background: #f5f5f5;
    padding: 80px 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.listado-titulo {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: #1F365C;
}

.listado-linea {
    width: 220px;
    height: 4px;
    background: #f5a623;
    margin: 15px auto 60px;
}

.listado-grid {
    display: grid;
    grid-template-columns: 1fr 1.1fr 0.9fr;
    gap: 40px;
}

.listado-col.izquierda img {
    width: 366.656px;
    height: 189.156px;
    margin-bottom: 20px;
}

.listado-col.izquierda h3 {
    font-size: 18px;
    font-weight:7800;
    margin-bottom: 15px;
}

.listado-col.izquierda p {
    font-size: 14px;
    color: #8c95a2;
    line-height: 1.7;
    margin-bottom: 12px;
}

.btn-amarillo {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #f5a623;
    color: white;
    font-weight: 800;
    text-decoration: none;
    font-size: 13px;
}
.btn-amarillo:hover {
    background: #d48f21;
    color: #ffffff;
}

.feature {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.icono {
    width: 42px;
    height: 42px;
    background: #f5a623;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    flex-shrink: 0;
}
.feature h3, h2{
color: #1F365C;

}
.feature p {
    font-size: 14px;
    color: #8c95a2;
    line-height: 1.6;
}

.card {
    background: white;
    padding: 40px 30px;
    text-align: center;
    position: relative;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
.cargo {
    display: block;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 15px;
    color: #1F365C;
}
.card p {
    font-size: 14px;
    line-height: 1.6;
    color: #8c95a2;
}

.email {
    display: block;
    margin-top: 5px;
    color: #f5a623;
    font-weight: 700;
    text-decoration: none;
}

.flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 19px;
    height: 76px;
    background: #f5a623;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.flecha.izquierda { left: 0px; }
.flecha.derecha { right: 0px; }



.cita {
    background: #1f2f4d;
    color: white;
    padding: 80px 0;
    text-align: center;
    font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
}

.cita h2 {
    font-size: 40px;
    color: #ffb536;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.titulo-grande {
    font-size: 70px;
    font-weight: 700;
    color: white;
    line-height: 1;
    margin-bottom: 30px;
}

.boton-cita {
    display: inline-block;
    background: #ffb536;
    color: white;
    padding: 20px 40px;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 650;
    transition: 0.3s;
}

.boton-cita:hover {
    background: #f5a623;
}