body {
    margin: 0;
    padding: 0;
}
.barra-azul {
    background-color: #042b56; 
    color: white;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
}

.fecha, .ubicacion, .redes-sociales {
    display: flex;
    align-items: center;
    gap: 8px;
}